<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/defaultTemplate">
<head>
	<style>
      .text {
        inline-size: 400px; 
  		overflow: hidden;
      }
    </style>
</head>
<body layout:fragment="content">
<br>
<h2>Welcome to We Store Stuff LLC!</h2>
<br>
<div class="text">
<p>
	We are a storage managing system that will help you track what you have stored. 
	This software can be used by anyone from individuals to bussineses. We will help you track 
	what items you have in stock and how many of them along with the details of each item.</p>
</div>
</body>
</html>