<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/defaultTemplate">
<body layout:fragment="content">
</br>
 <form action="#" th:action="@{productAdd}" th:object="${orderModel}" method="post">
        <table style="border-collapse: separate; border-spacing: 15px;">
        	
            <tr>
                <td>Order Number:</td>
                <td><input type="text" th:field="*{orderNo}"></td><td><h5 style="color: red" th:if="${#fields.hasErrors('orderNo')}" th:errors="*{orderNo}">Order Number</h5></td>
            </tr>
            <tr>
                <td>Product Name:</td>
                <td><input type="text" th:field="*{productName}"></td><td><h5 style="color: red" th:if="${#fields.hasErrors('productName')}" th:errors="*{productName}">Product Name</h5></td>
            </tr>
            <tr>
                <td>Price:</td>
                <td><input type="text" th:field="*{price}"></td><td><h5 style="color: red" th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Price</h5></td>
            </tr>
            <tr>
                <td>Quantity:</td>
                <td><input type="text" th:field="*{quantity}"></td><td><h5 style="color: red" th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}">Quantity</h5></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Add"/></td>
            </tr>
        </table>
        <div th:if="${#fields.hasErrors('*')}">List of Errors</div>
        <div th:each="err : ${#fields.errors('*')}">
            <span style="color: red" th:text="${err}" class="fieldoferrs"></span>
        </div>
    </form>
</body>
</html>